
.btn{
    border-radius: 7px;
    font-size: 1.1em;
    font-weight: 500;
    color: black;
    width: 8em;
    height: 40px;
    border: 0px;
}
.btn-orange{
    background-color: #ebb400;
    color: #fff;
}
.btn-white{
    background-color: #fff;
    color: #000;
}