@include media(tablet-landscape){
    .wcu-block{
        width: 100% !important;
    }
    .wcu-img{
        width: 100% !important;
        padding-left: 0% !important;
    }
    .wcu-overlay{
        width: 100% !important;
        left: 0% !important;
    }
    .wcu-video {
        top: 266px !important;
        left: 47% !important;
    }
}
@include media(phone){
    .wcu-awards--content{
        padding-top: 3em !important;
        i{
            font-size: 1.2em !important;
        }
        p{
            font-size: 1em !important;
        }
        h6{
            font-size: 0.6em !important;
        }
    }
        .wcu-text{
            padding-left: 3em !important;
            padding-top: 2em !important;
            h3{
                @include h3-border();
                color: #000;
                font-weight: 500;
            }
            h2{
                font-size: 1.7em !important;
            }
    } 
    .wcu-video {
        top: 89px !important;
        left: 44% !important;
        i{
            font-size: 3em !important;
        }
    }
}
.why-choose-us{
    margin-top: 50px;
}
.wcu-content{
    border: 1px solid #efeaea;
}
.wcu-text{
    padding-left: 6em;
    padding-top: 4em;
    h3{
        @include h3-border();
        color: #000;
        font-weight: 500;
    }
    h2{
        color: map-get($font-color, fc2 );
        font-size: 2.7em;
    }
}
.wcu-awards--content{
    padding-top: 5em;
    padding-left: 8%;
    width: 22%;
    text-align: center;
            i{
                font-size: 2.2em;
                color: #5b5a5a;
                padding-bottom: 1em;
            }
            p{
                color: #363636;
                font-size: 2em;
                font-weight: bold;
                padding-bottom: 1em;
            }
            h6{
                color: #000;
                font-size: 1.3em;
                font-weight: 100;
                text-transform: uppercase;
                padding-bottom: 1em;
            }
}
.wcu-border--bottom{
    @include border-bottom;
    top: 179px;
    left: 48%;
}
.wcu-border--bottom:nth-child(3){
    @include border-bottom;
    left: 53%;
    top: 179px;
}
.wcu-img {
    width: 74%;
    height: 100%;
    padding-left: 26%;
}
.wcu-overlay{
    top: 0;
    left: 26%;
    width: 74%;
    height: 100%;
}
.wcu-video{
    top: 187px;
    left: 59%;
    i{
        font-size: 4em;
        color: #ffffff99;
    }
}